* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.container {
	width: 1140px;
	margin: auto;
}

.container:before {
	content: '';
	clear: both;
}

.container:after {
	content: '';
	clear: both;
	display: table;
}


#main-nav {
	background-color: #1f1f1f;
	display: block;
	position: relative;
	padding: 35px 0px;
}

.logo-brand {
	float: left;
}

.logo-brand img{
	width: 145px;
}

.nav {
	float: right;
	margin-top: 10px;
}

.nav li {
	display: inline-block;
}

.nav li.aktif a {
	color: #f74d4c;
}


.nav li a {
	padding: 5px 20px;
	color: #c4c4c4;
	font-size: 13px;
	font-weight: 700;
	font-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.5px;
	line-height: 1;
}

.nav li a:hover {
	color: #f74d4c;
	padding: 5px 20px;
}

#main-header {
	background-color: #1c1c1c;
	display: block;
	position: relative;
}

.header-content {
    text-align: center;
    padding-top: 46px;
    padding-bottom: 80px;
}

.hero-header {
	font-size: 62px;
	font-weight: 300;
	color: #d0d0d0;
	padding-bottom: 20px;
}

p.hero-content {
	font size: 10px;
	font-size: 42px;
	color: #d0d0d0;
	font-weight: 300;
	margin-bottom: 67px;
}

.button-link {
	text-decoration: none;
	background-color: #f74d4c;
	color: #FFF;
	text-transform: uppercase;
	border: none;
	font-size: 14px;
	font-weight: 700;
	padding: 16px 35px;
	border-radius: 5px;
	letter-spacing: 0.5px;
}

#feature {
	background-color: #f6f6f6;
	display: block;
	position: relative;
	padding: 49px 0px;
	margin: 0px 0px;
}

.feature-content{
}

.col {
	width: 229px;
	float : left;
	display: inline-block;
	text-align: center;
	padding: 0px 28px;
}

.col img {
	height: 55px;
	margin-bottom: 20px;
}

.col span {
	font-size: 20px;
	padding: 10px 0px;
	display: block;
	color: #505050;
	font-weight: 700;
}

.col p {
	font-size: 14px;
	color: #7c7c7c;
}