* {
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.container {
	max-width: 1140px;
	margin: auto;
}

.container:before {
	content: '';
	clear: both;
}

.container:after {
	content: '';
	clear: both;
	display: table;
}


#main-nav {
	background-color: #1f1f1f;
	display: block;
	position: relative;
	padding: 35px 0px;
}

.logo-brand {
	float: left;
}

.logo-brand img{
	width: 145px;
}

.nav {
	float: right;
	margin-top: 10px;
}

.nav li {
	display: inline-block;
}

.nav li.aktif a {
	color: #f74d4c;
}


.nav li a {
	padding: 5px 20px;
	color: #c4c4c4;
	font-size: 13px;
	font-weight: 700;
	font-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.5px;
	line-height: 1;
}

.nav li a:hover {
	color: #f74d4c;
	padding: 5px 20px;
}

#main-header {
	background-color: #1c1c1c;
	display: block;
	position: relative;
}

.header-content {
    text-align: center;
    padding-top: 46px;
    padding-bottom: 80px;
}

.hero-header {
	font-size: 62px;
	font-weight: 300;
	color: #d0d0d0;
	padding-bottom: 20px;
}

p.hero-content {
	font size: 10px;
	font-size: 42px;
	color: #d0d0d0;
	font-weight: 300;
	margin-bottom: 67px;
}

.button-link {
	text-decoration: none;
	background-color: #f74d4c;
	color: #FFF;
	text-transform: uppercase;
	border: none;
	font-size: 14px;
	font-weight: 700;
	padding: 16px 35px;
	border-radius: 5px;
	letter-spacing: 0.5px;
}

#service {
	background-color: #f6f6f6;
	display: block;
	position: relative;
	padding: 75px 0px;
}

.feature-content{
}

.col {
	width: 229px;
	float : left;
	display: inline-block;
	text-align: center;
	padding: 0px 28px;
}

.col img {
	height: 55px;
	margin-bottom: 20px;
}

.col span {
	font-size: 20px;
	padding: 10px 0px;
	display: block;
	color: #505050;
	font-weight: 700;
}

.col p {
	font-size: 14px;
	color: #7c7c7c;
}

#feature {
	display: block;
	position: relative;
	padding: 55px 0px;
}

.warp {
}

.paragraph {
	text-align: center;
	padding: 0px 28px;
}

.paragraph span {
	font-size: 30px;
	padding: 10px 0px;
	display: block;
	color: #616161;
	font-weight: 900;
}

.paragraph p {
	font-size: 20px;
	color: #7c7c7c;
	font-weight: 300;
}

.link-feature {
	position: relative;
	margin-top: 48px;
	margin-bottom: 40px;
}

.link-feature li {
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 5px;
}

.link-feature li.active a {
	background-color: #595959;
}


.link-feature li a {
	text-decoration: none;
	line-height: 1;
	background-color: #f74d4c;
	text-transform: uppercase;
	border: none;
	font-weight: 700;
	padding: 9px 21px;
	border-radius: 5px;
	letter-spacing: 0.5px;
	color: #fff;
	font-size: 12px;
}

@media 
(-webkit-min-device-pixel-ratio:2),
(min-resolution: 192dpi){
	.link-feature li a{
		font-weight: 900;
	}
	.paragraph span{
		font-weight: 900;
	}
}

.link-feature li a:hover {
	background-color: #595959;
}

.img-col4 {
	position: relative;
}

.img-colin {
	width: 270px;
	float : left;
	display: inline-block;
	margin: 5px 7.5px;
}

#contact {
	display: block;
	position: relative;
	padding: 67px 0px;
	background-color: #252525;
}

.contactus {
    text-align: center;
}

.header-contact {
	font-size: 30px;
	font-weight: 900;
	color: #e0e0e0;
}

.contactus p {
	font size: 10px;
	font-size: 20px;
	color: #d0d0d0;
	font-weight: 300;
	margin: 15px 0px;
}

.callme {
	margin-bottom: 24px;
}

.callme li {
	display: inline-block;
	color: #bebebe;
}

.callme li p {
	color: #bebebe;
	display: inline-block;
	margin: 0px 1px;
	padding: 5px 8px;
	font-size: 12px;
	font-weight: 700;
}

.callme li img {
	display: inline-block;
	height: 12px;
}

.callme2 {
}

.callme2 li {
	display: inline-block;
	margin: 2px;
}

.callme2 li img {
	height: 32px;
}

#copyright {
	display: block;
	position: relative;
	padding: 25px 0px;
	background-color: #202020;
}

.end {
	font-size: 14px;
	color: #e0e0e0;
	text-align: center;
}